
:root{
  --color1:#ffffff; // white
  --color2:#010E2C; // black
  --color3:#E5E6E5; // gray
  --color4:#FDD929; // yellow
  --color5:#BAC6C9; // green
  --color6:#F5F4F5; // ligth-gray
  --circle-0: 0deg;
  --circle-36: 10deg;
  --circle-72: 72deg;
  --circle-108: 108deg;
  --circle-144: 144deg;
  --circle-180: 180deg;
  --circle-216: 216deg;
  --circle-252: 252deg;
  --circle-288: 288deg;
  --circle-324: 324deg;
  --circle-360: 360deg;

  --start-value-circle:100deg;
  --end-value-circle:0deg;

  --val:89
}
